<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibTeam06.Properties.Settings.CnStr" connectionString="Persist Security Info=False;User ID=PxlUserT10;Initial Catalog=Db2023Team10;Data Source=10.128.4.7" />
    </connectionStrings>
</configuration>